body {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.location-overview {
  margin-bottom: 16px;
}

.weather-temperature img {
  margin-right: 16px;
  float: left;
  height: 64px;
  width: 64px;
}

.current-city-temperature {
  font-weight: 500;
  font-size: 64px;
}

.weather-units {
  position: relative;
  top: -34px;
}

.weather-units .active {
  color: #333;
  cursor: default;
}

#weather-description {
  text-transform: capitalize;
}
